<html>
  <head>
    <title>Shop-Cart</title>
  </head>
  <body>
    <header class="container-fluid">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;
            </a>
            <a href="#" (click)="getLaptop()">
              Laptops
            </a>
            <a href="#" (click)="getMobile()">
              Mobiles
            </a>
            <a href="#" (click)="getTv()">
              Televisions
            </a>
            <a href="#" (click)="getTablet()">
              Tablets
            </a>
            <a href="#" (click)="getWatch()">
              Smart watches & Wearables
            </a>
            <a href="#" (click)="getAllItem()">
              Get All
            </a>
            <hr/>
            <a href="#" (click)="offerList()">
              Offer Zone
            </a>
            <hr/>
            <a href="#">
              My Cart
            </a>
        </div>
          <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; 
          </span>
        <div class="container-fluid">
          <h3>ShopCart</h3>
        </div>
    </header>
    <div class="showList">
      <ul *ngFor='let lists of laptopArray'>
        <li >
          {{lists.name}}
          <br/> 
          {{lists.price}}
          
        </li>
      </ul>
      <ul *ngFor='let lists of mobileArray'>
        <li >
          {{lists.name}}
          <br/> 
          {{lists.price}}
          
        </li>
      </ul>
      <ul *ngFor='let lists of tvArray'>
        <li >
          {{lists.name}}
          <br/> 
          {{lists.price}}
          
        </li>
      </ul>
      <ul *ngFor='let lists of tabArray'>
        <li >
          {{lists.name}}
          <br/> 
          {{lists.price}}
          
        </li>
      </ul>
      <ul *ngFor='let lists of watchArray'>
        <li >
          {{lists.name}}
          <br/> 
          {{lists.price}}
          
        </li>
      </ul>
    </div>
    
   </body>
</html>
