<html>
  <head>
    <title>Shop-Cart</title>
  </head>
  <body>
    <header class="container-fluid">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;
            </a>
            <a href="#"(click)="callLaptop()">
              Laptops
            </a>
            <a href="#" (click)="callMobile()">
              Mobiles
            </a>
            <a href="#" (click)="callTv()">
              Televisions
            </a>
            <a href="#" (click)="callTablet">
              Tablets
            </a>
            <a href="#" (click)="callWatch()">
              Smart watches & Wearables
            </a>
            <hr/>
            <a href="#" (click)="offerList()">
              Offer Zone
            </a>
            <hr/>
            <a href="#">
              My Cart
            </a>
        </div>
          <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; 
          </span>
        <div class="container-fluid">
          <h3>ShopCart</h3>
        </div>
    </header>
    
   </body>
</html>
